.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dashboard-container {
  width: 80%;
  margin: 0 auto;
}

.display-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.display-card-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.display-cards {
  box-shadow: 1px 2px 3px slategray !important;
  width: 35%;
  margin: 1% 0;
}
